<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>item</title>
</head>
<body>
	<h1>item description</h1>
	<form>
		<div>
			<label>id : </label> <input type="text" name="id" th:field="${item.id}" readonly disabled>
		</div>
		<div>
			<label>name : </label> <input type="text" name="name" th:field="${item.name}" readonly disabled>
		</div>
		<div>
			<label>price : </label> <input type="text" name="price" th:field="${item.price}" readonly disabled>
		</div>
		<div>
			<input type="submit" value="update" th:formaction="@{/update/{id}(id=${item.id})}" formmethod="get">
			<input type="submit" value="delete" th:formaction="@{/delete/{id}(id=${item.id})}" formmethod="get">
			<input type="submit" value="list" formaction="/list" formmethod="get">
		</div>
	</form>
</body>
</html>